@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-black; 
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}


body.dark {
  @apply bg-gray-900 text-white; 
}


.transition-element {
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out, transform 0.8s ease;
}


::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; 
}


body {
  -ms-overflow-style: none; 
}
